.custom-btn {
  opacity: 0.8;
  width: 100px;
  margin-inline: 10px;
  margin-block: 5px;
  transition: all ease .3s;
}

.grass {
  background-color: #78C850;
}

.poison {
  background-color: #A040A0;
}

.fire {
  background-color: #F08030;
}

.flying {
  background-color: #A890F0;
}

.water {
  background-color: #6890F0;
}

.selected {
  opacity: 1;
  box-shadow: 0 0 0 3px white inset;
}

.include-exclude {
  display: flex;
}

.include-btn, .exclude-btn {
  background-color: rgb(178, 215, 207);
  padding: 1em 3em;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.include-btn.selected,
.exclude-btn.selected {
  background-color: rgb(26, 203, 162);
  box-shadow: none;
}
