.pokemon-card {
  border: 1px solid white;
  display: flex;
  width: 800px;
  margin-bottom: 2em;
}

.pokemon-card-picture {
  width: 300px;
  height: 300px;
}

.pokemon-card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
